
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 60px; 
}

.footer-container {
    padding: 10px 0;
    width: 100%;
}
