
.form-container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
  }
  #sidebarMenu .nav-link {
    color: black;
    text-align: center; 
  }
  
  #sidebarMenu .nav-link.active {
    font-weight: bold;
    color: black;
  }
  
  #sidebarMenu .nav-link:hover {
    color: black;
    background-color: #f8f9fa; 
  }